@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #c7879846;

}

header {
  height: 30vh;
  
}

.container-nav-bar {
  border-bottom: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #ca6680;
  margin-bottom: 2%;
}

.container-nav-bar li {
  padding: 0 40px;
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  color: white;
  cursor: pointer;
}

.container-nav-bar li a {
  text-decoration: none;
  color: white;
}

.container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-info img {
  width: 8%;
}

#element-Nom {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  color: #9e575e;
}

h2,
h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  color: #344966;
}

.container-global {
  display: flex;
  justify-content: center;
  height: 50vh;
  gap: 80px;
  background-color: #9e575e;
  padding: 10px;
}

.container-global p {
  margin-bottom: -95%;
}

.bloc {
  width: 15%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 0px 1px #00000052;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-shadow: 2px 2px 6px #000000;
}

.bloc1 {
  background-image: url("images/blocage.jpg");
  background-position: center;
  background-size: cover;
}
.bloc2 {
  background-image: url("images/dev-perso.jpg");
  background-position: center;
  background-size: cover;
}
.bloc3 {
}
.bloc4 {
  background-image: url("images/reiki.jpg");
  background-position: center;
  background-size: cover;
}
